@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Chakra Petch', sans-serif;
    box-sizing: border-box;
}
body {
    overflow: hidden;
     background-color: #937DC2;
}
#canvas1{
    position: absolute;
    background-color: #937DC2;
}
#audioSection{
  padding: 20px;
  display:grid;
  align-items: center;
  justify-content: center;
}
#audio{
  
  margin: 10px;
}
#file {
  font-size: 15px;
}